<h1> <%= @project.name %> </h1>
<h2>Goal: <%= @project.goal %> words / <%= @project.period %>
<h2><%= @words_this_week %> words left to go this week. </h2> <br>
<button id="addDaily">add words</button>
